@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1627004728352') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xianxingnaiping:before {
  content: "\e6c8";
}

.icon-xianxinggouwudai:before {
  content: "\e6c5";
}

.icon-xianxingmofang:before {
  content: "\e6c9";
}

.icon-xianxingshouji:before {
  content: "\e6ca";
}

